.img-search-form {
  padding-top: 36px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.img-search-input {
  width: 100%;
  max-width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.img-search-input:hover {
  border-color: #000000;
}

.img-search-input:focus,
.img-search-input:active {
  border-color: #4e75ff;
}

.img-search-btn {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.64px;

  border: none;
  border-radius: 8px;

  background: #4e75ff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;

  transition: background-color 0.2s ease-in-out;
}

.img-search-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  border-radius: 4px;
  border: 1px solid #000;

  transition: transform 0.2s ease-in-out;
}
.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-link {
  max-width: 320px;
}
.gallery-img {
  width: 100%;
  max-height: 152px;
  height: 100%;
}
.image-description {
  display: flex;
  gap: 8px;
  padding: 4px 25px 4px 20px;
  text-align: center;
  justify-content: space-between;
}

.image-description p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.gallery-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.loader {
  font-size: 48px;
  color: #fff;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  background-color: currentcolor;
  position: relative;
  border-radius: 50%;
  transform: rotateX(-60deg) perspective(1000px);
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  animation: flowerFlow 1s ease-out infinite;
}
.loader:after {
  animation-delay: 0.4s;
}

@keyframes flowerFlow {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor,
      0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor,
      0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor,
      0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor;
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
    box-shadow: -1em -1em 0 -0.35em currentcolor,
      0 -1.5em 0 -0.35em currentcolor, 1em -1em 0 -0.35em currentcolor,
      -1.5em 0 0 -0.35em currentcolor, 1.5em -0 0 -0.35em currentcolor,
      -1em 1em 0 -0.35em currentcolor, 0 1.5em 0 -0.35em currentcolor,
      1em 1em 0 -0.35em currentcolor;
  }
}

.hidden {
  display: none;
}
